[2019-05-29 09:16] cyrsis opened #1 "Is it possible sync with Firestore?"
I have to write lot of CRUD lately.

It maybe a  much better approach then using CRUD event in the Flutter Bloc

Then all I have to do is keep track of the uid, I think

Please advice.

[2019-05-29 12:29] felangel commented on #1
Hi @cyrsis 👋
Thanks for opening an issue!

You can definitely hook it up to Firestore. All you need to do is write your own HydratedBlocFirestoreStorage class which implements HydatedBlocStorage and use it instead of the shared preferences storage.

Let me know if that makes sense or if you have additional questions. 👍

[2019-05-29 12:30] #1 closed, assigned to felangel

[2019-05-29 13:32] cyrsis commented on #1
I think I am good, Thanks

somehow I ran into out of sync but I choose local state as true state save me a lot hours.

[2019-06-21 21:35] KieranLafferty opened #2 "Question: Scoping bloc persistence by ID"
First, thank you for creating such an easy to use framework for creating and persisting blocs!

I've implemented a hydrated bloc which I want to restore bloc state based on a unique ID that is contextually relevant to the bloc. As an example, imagine a user profile page on Facebook. If I were to use the bloc persistence for a users profile, then go to another users profile it would restore the fir

[2019-06-24 14:38] Peter-717 opened #3 "Question: OnTransition and onError for HydratedBloc"
First of all, many thanks for your Bloc library, that's simply amazing!!!

Here is my issue:
I am adding HydratedBloc(s) to a project that does already contain many "SimpleBloc" that do not need to get Hydrated. So far I have been able to get the two sort of Blocs to co-exist with the following code:

void main() async {
  BlocSupervisor.delegate = SimpleBlocDelegate();
  BlocSupervisor.delegate =

[2019-06-24 16:33] felangel commented on #2
Hi @KieranLafferty 👋
Thanks for opening an issue and for the positive feedback!

Unfortunately, the functionality you're asking for is not within the scope of `hydrated_bloc` because `hydrated_bloc` only stores the last state of each bloc. If you want to cache all of the various data per storyID, I'd recommend creating a cache and using it within your repository layer. You can checkout the [Github

[2019-06-24 16:33] #2 closed, assigned to felangel

[2019-06-24 16:38] felangel commented on #3
Hi @Peter-717 👋
Thanks for opening an issue!

You can just tweak your `SimpleBlocDelegate` to extend `HydratedBlocDelegate` rather than `BlocDelegate` like so:

[code]

Then you can use it like so:

[code]

Hope that helps and great question! 👍

[2019-06-24 16:38] #3 closed, assigned to felangel

[2019-06-24 17:59] Peter-717 commented on #3
Works like a charm! Thank you so much!

[2019-06-26 08:25] iCueto opened #4 "How Persist a List"
Hello, thank for you awesome plugin.

I want to persist a list, but I don't find how, the example only work for on item, and I am loss How to persist the different type of data.

Is it compatible with ```List<dynamic>```?

Thanks

[2019-06-26 08:25] iCueto opened #5 "How Persist a List"
Hello, thank for you awesome plugin.

I want to persist a list, but I don't find how, the example only work for on item, and I am loss How to persist the different type of data.

Thanks

[2019-06-26 08:26] #5 closed, assigned to nobody

[2019-06-28 04:42] felangel commented on #4
Hi @iCueto 👋
Thanks for opening an issue and for the positive feedback!

Can you provide some code snippets that illustrate what you want to do and what errors you’re getting? Thanks! 👍

[2019-07-01 15:56] felangel commented on #4
Closing for now but feel free to comment with additional details and I'm happy to continue the conversation 👍

[2019-07-01 15:56] #4 closed, assigned to felangel

[2019-07-14 00:15] bobwiller opened #8 "Bloc lifecycle w/Hydrated_Bloc?"
In a bloc pre-Hydrated_Bloc you might have a lifecycle that looks like this:

Init\Load -> New State -> Change Value -> New State (etc)

in that Init\Load event, you might go fetch a locally stored value (using something like mmkv) and if it didn't exist there, go get it from a database or service.

The readme says that state is "automatically" persisted and restored.  But what is the trigger/when

[2019-07-15 01:20] bobwiller opened #9 "FormatException: Unexpected end of input error"
Running into this error:

Exception has occurred.
FormatException (FormatException: Unexpected end of input (at character 1)

On this line:

`void main() async {

  BlocSupervisor.delegate = SimpleBlocDelegate(
    await HydratedBlocStorage.getInstance(),             <-----error throwing here
  );`

Any idea what might be causing this?
Thanks,
Bob

[2019-07-18 02:04] felangel commented on #9
Hey @bobwiller thanks for reporting this and for triaging it and suggesting a fix! The fix was just made in https://github.com/felangel/hydrated_bloc/pull/11 and included in hydrated_bloc v0.3.1. 🎉

[2019-07-18 02:04] #9 closed, assigned to felangel

[2019-07-18 02:06] felangel commented on #8
Hey @bobwiller 👋
Thanks for opening an issue and great questions!

The state is recovered from cache when you call `super.initialState()` and on every state change (transition), the `HydratedBlocDelegate` will attempt to write the state to cache by calling the hydrated bloc's toJson method (If `toJson` returns null, no cache updates will be made).

Hope that helps 👍

[2019-07-18 02:06] #8 closed, assigned to felangel

[2019-07-19 16:58] zrfrank opened #12 "Improving the documentation regarding how the state is persisted"
It would be great if the documentation can explain a bit more about:

- how, the state is persisted, for example, is it a database or a simple json file
- where, is the persisted file saved
- is it fast to persist, or should be used wisely
- safety advice regarding persisted state (i.e. whether it is safe to persist user related infos)
- is the persisted file can be encrypted

[2019-07-21 23:17] ThinkDigitalSoftware opened #13 "Support saving bloc's state instead of The state that bloc produces."
**Is your feature request related to a problem? Please describe.**
I have a repositoryBloc that caches results. When using HydratedBloc, I can only store the output of the bloc, not it's internal private state.
**Describe the solution you'd like**
Don't require the fromJson method of `HydratedBloc<E, S>` to be of type `S`
**Describe alternatives you've considered**
I've considered customizing the

[2019-07-23 00:28] felangel commented on #13
Hey @ThinkDigitalSoftware 👋
Thanks for opening an issue!

Can you provide a bit more info around what the internal state of the bloc is and why it’s needed?

Thanks!

[2019-07-23 00:36] ThinkDigitalSoftware commented on #13
Sure, say I have the following `HydratedBloc`:

[code]

I'm interested in persisting the _cache variable. This is the real state of my bloc, and this is what I want to persist. I also want to persist `myBloc.currentState`, but I don't want to have to attach the _cache to that state just to be able to persist it

[2019-07-23 02:31] felangel commented on #13
Hey @ThinkDigitalSoftware my goal with `HydratedBloc` was to automatically cache the state of the bloc so that your application can pickup where it left off. Why do you need to have an internal cache within the bloc? If your bloc state is cached you should not need to query the repo at all.

[2019-07-23 14:58] ThinkDigitalSoftware commented on #13
The cache is for previous queries. If a query hasn't been run, it uses the
repo. I could renew the cache each time the app is run, but I do feel like
blocs should be able to serialize and rehydrate themselves, not just the
state they produce. Who knows what other use cases there are for this

On Mon, Jul 22, 2019, 7:31 PM Felix Angelov <notifications@github.com>
wrote:

[2019-07-23 15:06] ThinkDigitalSoftware commented on #13
If a person died and you wanted to recreate them, it wouldn't be enough to just save the work they did, you'd need to save other properties about them that made them who they were. Their Metadata. I think this should be the same way

[2019-07-24 01:07] felangel commented on #13
@ThinkDigitalSoftware can you please provide a concrete use case that we can walk through? I think it would be a lot easier to reference a specific example.

[2019-07-24 03:34] ThinkDigitalSoftware commented on #13
Ok. Something more than the example above?

[2019-07-24 03:58] felangel commented on #13
Well with the example above I’d move the cache to the repository layer. That way the bloc just requests the data and doesn’t care about where the data is coming from but if you can provide a concrete use case for an actual feature you’re working on I think it’d be more beneficial to compare and contrast approaches.

[2019-07-24 04:37] ThinkDigitalSoftware commented on #13
This is a part of the pub project I'm working on. This bloc is my repo,
isn't it?

On Tue, Jul 23, 2019, 8:58 PM Felix Angelov <notifications@github.com>
wrote:

[2019-07-24 05:01] felangel commented on #13
What do you mean the bloc is your repo? Ideally you'd have a data provider (in your case the pub.dev api client), a repository to interface with the data provider and convert the raw data model into your business models, a bloc to interface with your repository and provide the state/view model for your feature, and your UI to consume your bloc's state (view model) and render in response to differe

[2019-07-24 17:26] ThinkDigitalSoftware commented on #13
Ok. I have this repository class you linked to as part of the bloc itself. Implemented the same way you have it there. So I'll need to find a different way to persist this repository's cache to the device..  [Source ](https://github.com/ThinkDigitalSoftware/tavern/blob/transition-to-bloc/lib/screens/package_details/package_details_bloc.dart)

[2019-07-25 02:26] felangel commented on #13
I would highly recommend decoupling the bloc from the repository.
You can write to file, use a db, etc... for the repository cache.

Did this help clarify things?

[2019-07-25 02:29] ThinkDigitalSoftware commented on #13
It's clear, yes. It just defeats my purpose in using HydratedBloc now, since the rest of the state is so light that it won't save me much processing. I'm sure it'll be more helpful for larger projects. I was implementing HydratedBloc to keep from having to spin my own persistence solution, but it seems like your suggestion **is** to spin my own persistence solution?

[2019-07-25 02:29] #13 closed, assigned to felangel

[2019-07-25 14:03] felangel commented on #13
No my suggestion is to not store internal state in the bloc. You can add your own solution if you want to the repository layer but it isn’t necessary if you refactor your bloc. Which bloc is this in the pub.dev client? I can take a look and try to create a PR with my suggestions.

[2019-07-26 16:01] ThinkDigitalSoftware commented on #13
I sent you a PR to review. I refactored it out of the bloc into its own
class, it's in the Search bloc, the home bloc and the package details bloc

On Thu, Jul 25, 2019, 7:03 AM Felix Angelov <notifications@github.com>
wrote:

[2019-08-19 04:25] felangel commented on #12
Addressed questions in https://github.com/felangel/hydrated_bloc/commit/8cae779a421cbf17a60207bc23d074e3ef67be6d.

[2019-08-19 04:25] #12 closed, assigned to felangel

[2019-08-19 18:05] pblinux opened #14 "Question: persistence time"
Hi. First, awesome work with hydrated too.

I have a question/issue :thinking:

I'm using hydrated to store if it isn't the first time the app is opening. It works but after some time, like 4 o 5 days, the state is lost.

I'm using hydrated incorrectly?

[code]

Thank you for your time.

[2019-08-20 03:49] felangel commented on #14
Hi @pblinux 👋
Thanks for opening an issue and for the positive feedback!

Regarding your question, out-of-the-box `HydratedBlocStorage` writes to [temporary storage](https://github.com/flutter/plugins/blob/61c39d1e79e8f36030162a5f85fb491c65f4e51c/packages/path_provider/lib/path_provider.dart#L24).

[code]

If that doesn't meet your needs, you can always implement your own `HydratedStorage` by simp

[2019-08-20 03:49] #14 closed, assigned to felangel

[2019-08-21 17:59] pblinux commented on #14
Thank you @felangel , that gets me more clear idea of what can I do. Again, thank you.

[2019-09-11 22:45] ThinkDigitalSoftware opened #17 "ServicesBinding.defaultBinaryMessenger was accessed before the binding was initialized."
hydrated_bloc version: v1.4.1

**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
Assuming here: Issue was caused after the update to Flutter 1.10.1, so update?

Paste the output of running `flutter doctor -v` here.
Flutter 1.10.1 • channel dev • https://github.com/flutter/flutter.git
Framework • revision ce45c2d3e6 (5 days ago) • 2019-09-06 20:11:41 -0400
Engine • revision b9

[2019-09-11 22:46] ThinkDigitalSoftware commented on #17
Wait, I'm using a forked version of hydrated_bloc. Most likely outdated

[2019-09-12 01:21] felangel commented on #17
Hi @ThinkDigitalSoftware 👋
Thanks for opening an issue!

Recent changes in Flutter require you to call `WidgetsFlutterBinding.ensureInitialized();` before using any plugins if the code is executed before `runApp`.

You should modify your main like so:

[code]

[2019-09-12 01:21] #17 closed, assigned to felangel

[2019-09-12 02:14] ThinkDigitalSoftware commented on #17
Ok, cool. It didn't reflect in the docs as I was checking it compared with
the example

On Wed, Sep 11, 2019, 6:22 PM Felix Angelov <notifications@github.com>
wrote:

[2019-09-12 02:17] felangel commented on #17
I’ll update the docs and example 👍

[2019-09-12 16:46] shamnex commented on #14
Quick question? Is it possible to have multiple **HydratedStorage**?
I want to use the default storage for all my HydratedBlocs, then use my own custom **HydratedStorage** for only one.

Thanks for all the great works @felangel !!

[2019-09-13 01:50] felangel commented on #14
@shamnex you'll have to write your own `HydratedBlocDelegate` for that. Can you provide more details around your use-case? I wouldn't recommend having logic for where to store bloc states. Instead, if you have data that needs to be persisted in a different location you should probably handle that outside of hydrated_bloc. Hope that helps 👍

[2019-09-13 02:25] shamnex commented on #14
Thanks for the quick reply! Yup, that helps.

Here's my use-case,
 I want to persist my App Settings with a custom hydrated Storage and I wrote (using the Sembast plugin), as I don't want this to be deleted when I'm not aware of it.

 I also have data that changes frequently (Timeline feed) that only the last loaded data needs to be cached (perfect with Hydrated Bloc).

Do u still reckon I move th

[2019-09-13 02:51] felangel commented on #14
No problem!

It might be best to just use the custom HydratedStorage for everything. Alternatively, you can just use Sembast for the app settings explicitly and keep the AppSettingsBloc as a regular bloc.

I would personally probably use the custom HydratedStorage for everything unless you're running into performance problems 👍

[2019-09-13 02:54] shamnex commented on #14
Alright man! Cheers

[2019-09-15 23:29] gtxgat commented on #17
Thanks you. is it important to use this line  ` WidgetsFlutterBinding.ensureInitialized();` with flutter_bloc
for any app? or just when I using flutter_bloc for firebase sign-in.

[2019-09-15 23:32] felangel commented on #17
@gtxgat no problem! You only need to call WidgetsFlutterBinding.ensureInitialized() in your main if you are using any plugins (like FirebaseAuth) before runApp is called.

[2019-09-17 04:40] shamnex commented on #14
Good morning, I'm here again to disturb you again :(.

I just noticed Sembast read operations are asynchronous and it makes it impossible for me to get my cached data when I call super.initialState() in my `hydratedBloc`;

It throws `type 'Future<dynamic>' is not a subtype of type 'String'`.

How would you approach this?

[2019-09-17 19:39] kakajansh commented on #14
@felangel is it possible to create custom **HydratedStorage**, and make it write to `getApplicationDocumentsDirectory()` instead of `getTemporaryDirectory()`. Will it persist data, and avoid clearing by OS?

[2019-09-19 05:32] felangel commented on #14
@shamnex hey 👋

Would it be feasible for you to perform an initial asynchronous query in the initialization of the storage client which would read everything into memory? You would then be able to synchronously return values for a given key. It would be very similar to how the built-in `HydratedBlocStorage` works.

[code]

`HydratedBlocDelegate.build();` handles load the data asynchronously into m

[2019-09-19 05:49] felangel commented on #14
Hi @kakajansh 👋
You definitely can but I would be cautious because in the documentation for `getApplicationDocumentsDirectory` it states:

Using `getApplicationDocumentsDirectory` for app cache is technically not what it is intended for.

[2019-09-20 04:31] shamnex commented on #14
Hello, champ!!! @felangel

I just implemented it the way you asked and It works perfectly!

Thank you so much for this and keep up the good work.
It takes a lot to maintain an open source project with the level of commitment you show and also with a full-time job. We appreciate all your efforts man.

Have a lovely weekend.

[2019-10-04 04:11] ThinkDigitalSoftware opened #21 "[Feature Request] Add HydratedBloc.clear()"
Since this operates as a sort of cache, caches have a clear/invalidate option.
I have some data I need to remove and the only way is to uninstall, or try to create a new empty state and yield it in order to do so

[2019-10-04 04:47] felangel commented on #21
Hey @ThinkDigitalSoftware 👋
Thanks for opening an issue!

Do you have a proposal for the API?

[2019-10-04 19:02] ThinkDigitalSoftware commented on #21
Not really. Just that the call would be HydratedBloc.clearCache() or maybe HydratedBloc.reset() <-- maybe this can reset the state to initialState? Just some suggestions.

[2019-10-05 03:16] felangel commented on #21
Done in #23 and released in hydrated_bloc v0.6.0 👍

[2019-10-05 03:16] #21 closed, assigned to felangel

[2019-10-24 12:53] MichelMelhem opened #27 "Add support for HiveDB"
Hello,
Actually i'm using Hydrated_bloc not as a cache for my app but more as adatabase.
I have two problems with it :
First, hydrated bloc use temporary temporary storage so it can be wiped at any time.
Second this do not support any encryption.
I would sugget to implement Hive db as a way to persist data for two reasons :
First hive support encryption,
Hive is very light and powerfull and it can

[2019-10-24 13:25] genert commented on #27
Hydration is taking an object that exists in memory and populating it with domain data from database for example and that is not the job of this library.

If you are using this library as persisting data to database, you have made architectural error and should rethink what this library solves and what you are trying to solve.

Use it for what is was meant - caching. You have to implement database

[2019-10-24 13:37] MichelMelhem commented on #27
@genert Felangel said me that he could implement HiveDb to hydrated_bloc,
he just ask me to open a feature request ^^

[2019-10-26 22:34] felangel commented on #27
Hey @MichelMelhem 👋
Thanks for opening an issue!

I think there are two requests here: use HiveDB and allow for long-term persistence.
It sounds like you're more interested in the latter so I can expose an optional storagePath parameter on the built-in `HydratedBlocStorage`.

Regarding using Hive it's more of an implementation detail and I will first do a performance comparison before deciding whe

[2019-10-26 22:41] felangel opened #28 "Allow for optional storagePath override"
**Is your feature request related to a problem? Please describe.**
As a developer, I want to have the ability to override the storage location in cases where I don't want the data to reside in temporary storage.

**Describe the solution you'd like**

[code]

**Additional context**
- Partially addresses #27

[2019-10-27 01:14] felangel commented on #28
Updates merged in #29 and published in v1.1.0 of `hydrated_bloc`

[2019-10-27 01:14] #28 closed, assigned to felangel

[2019-10-27 19:55] #27 closed, assigned to felangel

[2019-11-18 19:00] ThinkDigitalSoftware opened #30 "Can't use HydratedBloc on non-Flutter platforms?"
**Describe the bug**
Because of it's dependency on path_provider, the app fails on web and desktop (macOS in my case)
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt to use HydratedBloc on web or desktop
2. See error

**Expected behavior**
Either have a check for the platform and use a platform io solution, or provide an alternative storage option for the dev to implement.

**

[2019-11-18 19:02] ThinkDigitalSoftware commented on #30
This may be related to #28. Checking that out now

[2019-11-18 19:05] ThinkDigitalSoftware commented on #30
Already a feature with the  `HydratedStorage` option

[2019-11-18 19:05] #30 closed, assigned to nobody

[2019-11-18 23:29] felangel commented on #30
@ThinkDigitalSoftware as you mentioned you can provide your own `HydratedStorage` but you can also just use it for desktop out of the box by including [path_provider_fde](https://github.com/google/flutter-desktop-embedding/tree/master/plugins/flutter_plugins/path_provider_fde) in your `pubspec.yaml`. Check out the [example](https://github.com/felangel/hydrated_bloc/blob/master/example/pubspec.yaml

[2019-11-23 07:32] 7Kronos commented on #8
Hello ! Thanks for your great libs @felangel ! 👍

I have a question and maybe a suggestion.

During my app start, I have a splash page that I want to dismiss when :

- Bloc transistions to UserLoaded  / user has a token, navigate to home page
- Bloc transistions to UserUnauthenticated / user does not have token, navigate to onboarding page

UserBloc is an HydratedBloc. Problem is when the Bloc is

[2019-12-26 02:35] Sadmansamee opened #32 "Set expiry date or ttyl"
Is it possible to set expiry date anyhow? Let's say on toJson set a expiry date and on toJson I will check if date is expired or not, if expired then fetch from API

[2019-12-27 01:21] felangel commented on #32
Hey @Sadmansamee 👋
Thanks for opening an issue!

Can you please provide some more context around the use case you have? You should always be able to include a `DateTime` in the data itself and wipe it if it's expired. Thanks!

[2020-01-01 15:52] felangel commented on #32
@Sadmansamee any updates on this?

[2020-01-02 03:04] #32 closed, assigned to felangel

[2020-01-07 21:33] wkrause13 opened #33 "Question: How to enable onEvent, onError and onTransition logging?"
Is there a simple way to enable the onEvent, onError and onTransition logging found in many of the flutter_bloc tutorials?

I'm struggling to extend the HydratedBlocDelegate class without implementing the HydratedStorage interface.

[2020-01-07 21:49] felangel commented on #33
Hi @wkrause13 👋
Thanks for opening an issue!

Please take a look at https://github.com/felangel/hydrated_bloc/issues/3#issuecomment-505087002 and let me know if you have any further questions.

[2020-01-07 21:49] #33 closed, assigned to felangel

[2020-02-19 14:05] iampato opened #34 "Hydrated Bloc yields the error state"
**Describe the bug**
So i switched from flutterbloc to hydaretdbloc, when i my switch on the data connection and  i do not have an active internet connection the hydrated bloc works but when i complete shutdown the WiFi & the data connection it does not work

**Expected behavior**
Load the cached rest data rather than yielding the error state

[2020-02-19 14:23] felangel commented on #34
Hi @Iampato 👋
Thanks for opening an issue!

Can you please share the link to a sample app which illustrates the problem you’re having? Thanks!

[2020-02-19 15:48] iampato commented on #34
Can i just add you to the repo since its private

[2020-02-19 16:24] felangel commented on #34
@Iampato sure 👍

[2020-02-19 16:57] felangel commented on #34
@Iampato It doesn't look like you're using `hydrated_bloc` in the repo. Have you pushed your changes to a branch?

[2020-02-21 08:28] iampato commented on #34
Wooh i forgot i just push

[2020-03-09 02:40] felangel commented on #34
Sorry just saw this now! Will take a look ASAP 👍

[2020-04-09 20:15] ThinkDigitalSoftware opened #40 "Need to update Path_provider dependency to support MacOS"
latest version is   path_provider: ^1.6.5

[2020-04-16 03:30] ThinkDigitalSoftware opened #41 "HydratedBloc catches failures to serialize json and continues without yielding the new state"
Just found an issue where my HydratedBloc was rebuilding, but with the old states. There were no errors, and the state was being told to yield from the bloc correctly. Turns out the issue was that the toJson call was writing a non json-serializable map I.E. {'key1: ComplexClass}
Following the logic would not have gotten me there with the debugger
I appreciate it continuing to run, but I believe th

[2020-04-16 13:36] orsenkucher commented on #41
@ThinkDigitalSoftware

`HydratedBlocDelegate` overrides `onTransition()` method and when it fails `onError()` is invoked.
By default `Bloc` swallows errors, but you can override `onError()` either in `YourBloc` or `YourBlocDelegate` to do some logging, or throwing exceptions.

I'm not @felangel. And in my personal opinion it's better to cause whole app panic when `toJson` is doing wrong things. To

[2020-04-16 13:49] orsenkucher commented on #40
@felangel should we pull it with #38?

[2020-04-16 13:55] felangel commented on #41
@ThinkDigitalSoftware thanks for opening an issue!

As @orsenkucher pointed out you would likely have seen the exception of you had overridden onError in your bloc but I agree the yield shouldn’t fail so if that’s happening we should definitely address it.

@orsenkucher I don’t think it makes sense to crash the whole app if toJson fails because this is just a caching mechanism and isn’t critical f

[2020-04-16 13:58] felangel commented on #40
@orsenkucher id rather do it after since there are already significant changes. Once we merge #38 it will be trivial to upgrade path_provider but we need to verify that everything is still working properly.

[2020-04-16 14:08] orsenkucher commented on #41
@felangel we can wrap `storage.write(... json.encode())` in `try-catch` but then problem will be lost entirely🤨
[code]

[2020-04-16 14:12] orsenkucher commented on #41
This code from `v3.1.0` needs revision as well
[code]

Something like this?
[code]

[2020-04-16 14:23] orsenkucher commented on #40
I don't see bold **Breaking Changes** in Changelog, tests passed
Should be ok to upgrade👍

[2020-04-16 14:36] orsenkucher commented on #41
Maybe like so?
https://github.com/orsenkucher/hydrated_bloc/commit/37b885c7f85c6b82c0ea0ffce893a9c1f1f4b87f
These are `HydratedBlocDelegate`'s problems, let's reroute them to it

[2020-04-16 15:34] orsenkucher commented on #41
Second option is to provide onError callback to `toJson/fromJson` methods

[2020-04-16 15:35] felangel commented on #41
@orsenkucher let me focus on reviewing the current PRs first this afternoon and then we can decide how to proceed on this issue.

[2020-04-16 15:36] felangel commented on #40
@orsenkucher that's great but from an issue tracking perspective I'd prefer to have one PR per issue.

[2020-04-16 15:41] orsenkucher commented on #40
Yes, NP. I have reverted things

[2020-04-16 15:42] ThinkDigitalSoftware commented on #41
It ended up throwing when I had break on all errors instead of the uncaught ones, but even still, nothing showed up on the console with that option selected

[2020-04-16 16:45] felangel commented on #41
@ThinkDigitalSoftware can you confirm that overriding onError allows you to see the exception?

[2020-04-16 16:53] ThinkDigitalSoftware commented on #41
Ok, let me break my code again 😁. I'll report back

[2020-04-16 17:20] ThinkDigitalSoftware commented on #41
Yes, it does.

[2020-04-19 04:14] felangel commented on #40
@ThinkDigitalSoftware this change is available in [v3.1.0-dev.2](https://pub.dev/packages/hydrated_bloc/versions/3.1.0-dev.2) and will be included in v3.1.0 shortly 👍

[2020-04-19 04:14] #40 closed, assigned to felangel

[2020-04-19 04:14] felangel commented on #41
@ThinkDigitalSoftware this fix is available in [v3.1.0-dev.2](https://pub.dev/packages/hydrated_bloc/versions/3.1.0-dev.2) and will be included in v3.1.0 shortly.

[2020-04-19 04:14] #41 closed, assigned to felangel

[2020-04-20 15:48] Neriking69 opened #44 "No audio"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-20 15:52] Neriking69 commented on #44
I have no audio period, the bottom speaker went out 1st, now I have zero out on sound , only in blue tooth. Can someone please give me advice or fix .

[2020-04-20 16:47] TaubeDruide7 opened #45 "FiveM ESX_Vehiclesshop issue"
Hey,

i have a problem with my ESX_Vehiclesshop.
I can go into the job one time. All funktions are ok. But when i go the second time into the Marker i dont can open the Job!

Have anyone an idea?

[2020-04-21 04:03] EnriqueMenaGarcia opened #46 "Tercera fase de desarrollo"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-21 04:03] #46 closed, assigned to nobody

[2020-04-21 04:04] EnriqueMenaGarcia opened #47 "Tercera fase de desarrollo"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Logs **
Run `flutter analyze` and at

[2020-04-21 04:32] felangel commented on #47
Closing this since there is no description.

[2020-04-21 04:32] #47 closed, assigned to nobody

[2020-04-21 04:48] felangel commented on #45
Hi @TaubeDruide7 👋
Thanks for opening an issue!

Can you please provide a link to a sample app which illustrates the problem you're having? There isn't enough information in your description for me to help. Thanks!

[2020-04-21 04:49] felangel commented on #44
Hi @Neriking69 👋
Thanks for opening an issue!

Closing this since it doesn't sound like this is an issue with `hydrated_bloc` since the package has nothing to do with audio.

[2020-04-21 04:49] #44 closed, assigned to felangel

[2020-04-22 05:32] felangel commented on #45
Closing for now since there is not enough information provided in the description.

[2020-04-22 05:32] #45 closed, assigned to felangel

[2020-04-23 08:25] ali-alizadeh opened #48 "Upgrade to bloc ^4.0.0"
Hello
Do you have any plans on upgrading bloc package to the new released version?

[2020-04-23 14:04] felangel commented on #48
Hi @Ali-Alizadeh 👋
Thanks for opening an issue!

Yup there are some other changes planned for hydrated bloc (in addition to the upgrade to bloc 4.0.0) so you can hopefully expect v4.0.0 of hydrated bloc to be released sometime this weekend 🤞

[2020-05-09 23:00] #48 closed, assigned to felangel

[2020-05-16 13:58] RaimundWege opened #51 "Maintain multiple states of a hydrated bloc"
**Is your feature request related to a problem? Please describe.**
I'm wondering if it is possible to maintain multiple states of a hydrated bloc e.g. for each user of an app. If one user is logged out and another one is logged in the second user shouldn't see the data of the first one and vice versa but both data should be persisted.

**Describe the solution you'd like**
I would prefer to switch

[2020-05-16 16:19] felangel commented on #51
Hi @RaimundWege 👋
You can accomplish this by overriding the id property on your hydrated bloc to be the id of the user 👍

Hope that helps!

[2020-05-16 16:19] #51 closed, assigned to felangel

[2020-05-17 07:06] RaimundWege commented on #51
Thank you! That's exactly what I was looking for :)

[2020-05-22 14:06] maheshbhattaraai opened #53 "Implement Listener In Hydrate Bloc"
How can we listen bloc state like flutter_bloc in hydrated_bloc?Or can we implement  same as flutter_bloc.

[2020-05-22 14:21] felangel commented on #53
Hi @maheshbhattaraai 👋
Thanks for opening an issue!

A `HydratedBloc` is also a `Bloc` so you can listen the exact same way (use `BlocBuilder`, `BlocListener`, or `BlocConsumer`) or you can do `myBloc.listen((state) {...});`

Hope that helps 👍

[2020-05-22 14:21] #53 closed, assigned to felangel

[2020-05-22 14:39] maheshbhattaraai commented on #53
Listener is working only after event dispatch?

[2020-05-22 14:49] felangel commented on #53
@maheshbhattaraai I'm not sure what you mean. When you listen you will get the latest state and all subsequent states in response to new events.

[2020-05-22 14:52] maheshbhattaraai commented on #53
[code]

   works perfect but listner doesnot getting state. How can i improve the code.

[2020-05-22 14:57] felangel commented on #53
@maheshbhattaraai BlocListener only gets notified of state changes after it is mounted on the widget tree. You are probably not adding an events to the bloc so there are no state changes which is why BlocListener is not triggered.

[2020-05-22 15:02] maheshbhattaraai commented on #53
Okey . Thanks for responding immediately..

[2020-05-27 20:08] orsenkucher opened #54 "Scopes proposal"
## Using implicit bindings (new)
### Preview
**Protoversion** of this change is available on my [scopes-implicit](https://github.com/orsenkucher/hydrated_bloc/tree/scopes-implicit)

### Resolved issues
* Obligation to modify constructor is now completely relaxed
* `HydratedProvider` does not depend on `hydrated_bloc` now, so can be merged with `BlocProvider`

### Issues
* Interference with `packag

[2020-06-17 08:51] mohammadne opened #55 "Unhandled Exception: HiveError: Cannot write, unknown type: _$Orange. Did you forget to register an adapter?"
I am using ```hydrated_bloc``` with ```Freezed``` package.

**State is:**
[code]
**ThemeScheme is:**
[code]
**ThemeBrightness  is:**
[code]

and:
[code]

but I get :
[code]

[2020-06-17 11:15] ngoctranfire opened #56 "BLoC Replay or Time Travel"
With the implementation of this hydrater, I wonder if we can move towards better tooling that helps us by actually introducing a time-travel functionality, similar to what is done on React (but I guess since BLoC) are local to their components or widgets, we would need to have some kind of registry to replay all bloc events and register that. What are your thoughts on this?

Honestly, I love your

[2020-06-18 09:33] mohammadne commented on #55
any suggestion ?

[2020-06-18 12:09] tenhobi commented on #55
This is clearly an error on Hive side, as you can see 'cause it's a `HiveError`... :D

Take a look at this https://github.com/hivedb/hive/issues/241 or something similar.

[2020-06-18 12:10] tensor5 opened #57 "State is replicated in Hive file"
**Describe the bug**
Each time a state transition happens a new copy of the state is appended to the Hive DB file `hydrated_box.hive` causing it to grow linearly in size.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the example app in the `example` folder
2. Run `adb shell` in a terminal window
3. Inside the adb shell run the command `run-as com.example.example`
4. Run `ls -l cache/hy

[2020-06-19 18:07] felangel opened #58 "[Feature Request] Hydrated blocs with different storages in the same app"
From @ncuillery ([original issue](https://github.com/felangel/bloc/issues/1317))

**Is your feature request related to a problem? Please describe.**
I have some hydrated blocs that use the default temp folder (as a cache for my information coming the network: perform the fetching request only if the data is older than 12 hours).
But I also would like to use a hydrated bloc using the shared prefere

[2020-06-20 06:53] mohammadne commented on #55
I don't know about hive.
what do I should do about it ?

[2020-06-20 10:43] orsenkucher commented on #57
I suspect this behaviour is related to Hive in general. It uses append only strategy to achieve high write speed, though time to time it should reorganize and compact saved files.

[2020-06-20 10:49] orsenkucher commented on #57
Hive mentions it in [compaction](https://docs.hivedb.dev/#/advanced/compaction) docs @tensor5

[2020-06-20 11:00] orsenkucher commented on #55
@mohammadne try to
[code]
and outside `ThemeScheme` class put
[code]
hope this will help😛

[2020-06-20 11:08] orsenkucher commented on #57
@felangel also shared some Bitcask [papers](https://riak.com/assets/bitcask-intro.pdf?source=post_page---------------------------) time ago, page 4 addresses this problem
@tensor5

[2020-06-20 11:21] orsenkucher commented on #58
@felangel related to #54 ?
we can elaborate on scopes, to grant use of multiple custom storages & even hive instances inside different directories

[2020-06-22 01:28] tensor5 commented on #57
Thanks for your answer. Hive mention compacting the box before closing to improve startup time. Do you plan to add this feature?

[2020-06-24 20:59] Eerey opened #60 "Cannot Write, unknown type"
**Describe the bug**
A clear and concise description of what the bug is.

![image](https://user-images.githubusercontent.com/7249645/85626705-bd30bd80-b66d-11ea-9ca1-99291b81358f.png)
[code]

**To Reproduce**
Steps to reproduce the behavior:
i think it's too much code, it worked prior on 3.1.0 perfectly, but now with hive i don't know what else to change.

**Expected behavior**
persisting data lik

[2020-06-25 16:33] mohammadne commented on #55
Perfect , That was the answer.

[2020-06-25 16:33] #55 closed, assigned to tenhobi, orsenkucher

[2020-06-26 07:14] orsenkucher commented on #60
If  `_$UserToJson` produces valid json, hive should be fine to save it. Don't forget to call `user.toJson()` from hydrated bloc's overridden `toJson` method

When using adapter call `Hive.registerAdapter(UserAdapter());` from your `main`, where `UserAdapter` is `class UserAdapter extends TypeAdapter<User>`

[2020-06-27 12:18] mohammadne opened #63 "Having an async operation in hydrated initialState"
in my case I want to use this awesome package for localization.
for the first run of app , I have 2 option:
[code]

my problem is when user choose SystemLocale.
because in ```initialState``` , I have:
[code]

so what do you suggest about retrieving this async operation ?

[2020-06-29 04:14] mohammadne commented on #63
any suggestion about what can I do ?

[2020-06-29 16:36] felangel commented on #63
Hey @mohammadne 👋
Thanks for opening an issue!

Your initialState cannot be async. You need to either inject the locale into the bloc

[code]

Or you need to have a state like `LocalizationLoadInProgress` which represents the state while the locale is being fetched.

Hope that helps 👍

[2020-06-29 16:36] #63 closed, assigned to felangel

[2020-07-03 17:25] danielmahon opened #64 "HydratedBloc.storage should be typed [Storage]"
According to the docs this should be type `Storage` so it can accept a custom storage class.
Also looks like `Storage` isn't being exposed by the package either.

v5 looks awesome though, thanks!

https://github.com/felangel/hydrated_bloc/blob/07261573db71cfdb3aa054099c167be9ecf5f109/lib/src/hydrated_bloc.dart#L27

https://github.com/felangel/hydrated_bloc/blob/07261573db71cfdb3aa054099c167be9ecf5

[2020-07-03 21:04] felangel commented on #64
Hi @danielmahon 👋
Thanks for opening an issue!

Sorry about that! `HydratedStorage` used to be the name of the interface and I must have missed renaming/exporting it 😅
Will be merged and released in v5.0.1 shortly 👍

[2020-07-03 21:06] #64 closed, assigned to felangel

[2020-07-03 21:11] felangel commented on #60
Closing this for now since there isn't enough information to reproduce the issue locally. Feel free to comment with a link to a sample which reproduces the problem and I'm happy to continue the conversation 👍

[2020-07-03 21:11] #60 closed, assigned to orsenkucher

[2020-07-03 21:12] felangel commented on #56
Hi @ngoctranfire 👋
Thanks for opening an issue and for the positive feedback! DevTools with time travel support are on the horizon 😄

[2020-07-03 21:14] felangel commented on #57
Hi @tensor5 👋
Thanks for opening an issue!

We should definitely consider compacting the box before closing 👍
I'll try to get to this soon 😄

[2020-07-04 06:56] orsenkucher commented on #57
@felangel how to know when box is closing?

[2020-07-04 15:58] orsenkucher opened #66 "Data loss when upgrading from v3.1.0 to latest version"
**Describe the bug**
I believe transition from `v3.1.0` to `v5.0.1` should be as safe as from `v3.1.0` to `v4.1.1`

**To Reproduce**
Steps to reproduce the behavior:
- Upgrade project from v3 to v5

**Expected behavior**
a) No data loss
b) This behavior is very explicitly stated in changelog and readme

[2020-07-04 17:13] felangel commented on #66
Hey @orsenkucher 👋
Thanks for opening an issue!

I decided to do this intentionally because you can downgrade to 4.1.1 first then upgrade to 5.x.x and you should have your data. I really wanted to remove the migration code given the cubit refactor so sorry for any inconvenience but hopefully it’s a quick fix and the number of impacted developers is minimal 🤞

[2020-07-04 17:23] orsenkucher commented on #66
Break-test passes now🥳
Thanks! @felangel

[2020-07-04 17:23] #66 closed, assigned to felangel

[2020-07-04 17:25] felangel commented on #57
That’s the part we’ll need to figure out haha 😂

[2020-07-06 12:29] andre-arsenault opened #67 "Data lost when upgrading from 4.0.0 to 5.0.1"
**Describe the bug**
After updating an app's dependencies to use hydrated_bloc 5.0.1, all saved data is lost from previous runs of the app. Verified on Android and iOS.

**To Reproduce**
Steps to reproduce the behavior:
1. Run your app with hydrated_bloc 4.0.0
2. Make some state changes which are saved via hydrated_bloc
3. Re-run the app to see that the state changes were saved from the previous r

[2020-07-06 13:22] felangel commented on #67
Hi @andre-arsenault 👋
Thanks for opening an issue and sorry for any inconvenience!

If you downgrade to 4.1.1 and then upgrade to 5.0.0 then no data will be lost (see https://github.com/felangel/hydrated_bloc/issues/66).

Let me know if that helps and again sorry for any inconvenience.

[2020-07-06 13:37] andre-arsenault commented on #67
Hi @felangel , thanks for the response!

That involves downgrading all other bloc-related packages as well, correct?

[code]

It's not an ideal solution regardless of the dependency entanglements, as we would need to:

- deploy a version of our app using 4.1.1
- wait for as many users as possible to upgrade
- deploy a new version using 5.0.1
- any users who didn't upgrade to the intermediate 4.1.1

[2020-07-06 13:40] felangel commented on #67
@andre-arsenault yup that’s totally understandable and I can reintroduce the migration code in 5.0.2 of hydrated_bloc 👍

Should have the fix in shortly and again sorry for the trouble.

[2020-07-06 13:41] andre-arsenault commented on #67
That's great @felangel, thanks very much!

[2020-07-06 13:52] felangel commented on #67
PR is out and ready for review at https://github.com/felangel/cubit/pull/61

[2020-07-06 14:10] felangel commented on #67
@andre-arsenault can you confirm that the issue is resolved by referencing the 5.0.2 release candidate via git url?

[code]

Thanks!

[2020-07-06 14:30] andre-arsenault commented on #67
@felangel confirmed! That version is able to load 4.0.0 data and saves it in 5.0.1 format. That's a big help, thank you! 🎉

[2020-07-06 14:45] orsenkucher commented on #58
@felangel since `HiveImpl` is instantiated internally, nothing holds us from implementing this feature!
Let's just instantiate it more than once :sunglasses:

[2020-07-06 14:53] #67 closed, assigned to felangel

[2020-07-06 14:56] felangel commented on #67
@andre-arsenault the fix has been published in v5.0.2 🎉

[2020-07-06 14:58] andre-arsenault commented on #67
That's great, thanks for the swift reaction! Very much appreciated!

[2020-07-08 00:59] saivarunr opened #70 "Asynchronous fromJson and toJson"
**Is your feature request related to a problem? Please describe.**
Greetings @felangel , hope you are healthy and safe. I would also like to thank you for the libraries you have provided to the community. I'm using bloc and hydrated bloc. I was thinking why not provide async support for both fromJson and toJson on the HydratedBloc (https://github.com/felangel/hydrated_bloc/blob/15eb68febd6ccd075d5

[2020-07-09 02:06] mohammadne opened #71 "strange problems when migrate to new version"
hi @felangel

what I has was:
[code]

but when I migrate to V5 , the toJson and fromJson always return null.
 what I have done is to add:
[code]
in the super constructor of my ```ThemeBloc ``` in V5.
but I don't know what is the problem.

[2020-07-09 02:27] felangel commented on #71
Hi @mohammadne 👋
Thanks for opening an issue!

Can you please provide a link to a sample app which illustrates the issue? I'm happy to take a look 👍

[2020-07-09 03:05] felangel commented on #71
migrated to https://github.com/felangel/bloc/issues/1419

[2020-07-09 03:05] #71 closed, assigned to nobody

[2020-07-09 03:06] felangel commented on #70
migrated to https://github.com/felangel/bloc/issues/1420

[2020-07-09 03:06] #70 closed, assigned to nobody

[2020-07-09 03:07] felangel commented on #58
migrated to https://github.com/felangel/bloc/issues/1421

[2020-07-09 03:07] #58 closed, assigned to felangel

[2020-07-09 03:09] felangel commented on #57
moved to https://github.com/felangel/bloc/issues/1422

[2020-07-09 03:09] #57 closed, assigned to felangel

[2020-07-09 03:11] felangel commented on #56
moved to https://github.com/felangel/bloc/issues/1423

[2020-07-09 03:11] #56 closed, assigned to felangel

[2020-07-09 03:12] felangel commented on #54
closing this in favor of conversation in https://github.com/felangel/cubit/issues/67

[2020-07-09 03:12] #54 closed, assigned to nobody

[2020-07-09 03:13] felangel commented on #34
@Iampato can you please reopen this issue in https://github.com/felangel/bloc if you're still having trouble. I realize this is quite an old issue and the hydrated_bloc repository has been merged into the core bloc repository 👍

[2020-07-09 03:13] #34 closed, assigned to felangel